body{
    background-color: rgb(253, 251, 251);
    /* height: 5000px; */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 70px;
    top: 0;
    position: fixed;
    background-color: #eee;
    direction: rtl;
    text-align: right;
}
.logo{
    width: 10% ;
    height: 30px;
    margin-top: 17px;
    margin-right: 40px;
    font-size: x-large;
    text-shadow: 0px 0px 4px #6e6e6e;
}
.nav-links{
    width: 35%;
    height: 50px;
    margin-top: -37px;
    margin-right: 220px;
    list-style: none;
    display: flex; 
}
.links{
    display: flex;
    gap:63px;
    color: rgb(49 86 119 / 90%);  
    cursor:pointer; 
    list-style: none;
    margin-top: 2px;
    margin-left: -40px;
    padding: 10px 5px;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: black;
  }
header li:hover{
    background-color: #a3a3a4e6;
    border-radius: 20%;
    padding: 5px;
    box-shadow: 5px 6px 0.8ch rgb(137, 132, 132);
}
.img-home{
    width: 100%;
    margin-top: 72px;
    display:flex;
    height: 800px;
}
.shopping-img{
    margin-left: 12%;
}
.shopping-img img{
    width: 58%;;
}
.sequances{
    width: 99.5%;
    height: 190px;
    margin: 150px 0px 0px 4px;
    padding-right:35px ;
    font-size: 24px;
    word-spacing: 5px;
    direction: rtl;
    text-align: right;
    line-height: 2;
    background-color: #f0eeee;
    border-radius: 3px;
}
#sequance2{
    width: 90%;
    word-wrap: break-word;
    white-space: normal;
}
.sequance2{
    margin-right: 450px;
}
.container{
    overflow-x: auto;
    white-space: nowrap;
    padding-left: 15px;
    padding-top: 200px;
}
.product-card{
    display: inline-block;
    width: 350px;
    height: 650px;
    margin-right: 15px;
    background-color: #fff;
    vertical-align: top;
    border-radius: 7px;
    cursor: pointer;
}
.product-card img{
    width: 100%;
    height:500px;
    border-radius: 7px;
}
.product-name{
    margin-top: 40px;
    margin-right: 20%;
    font-size: 20px;
    direction: rtl;
    text-align: right;
}
.product-price{
    margin-right: 21%;
    margin-top: 7px;
    font-size: 17px;
    direction: rtl;
    text-align: right;
}
/* خط تحرك الصور */
.container::-webkit-scrollbar {
  height: 6px;
}

.container::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
.container-clothes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top:180px;
}
.container-card{
    width: 22%;
    height: 570px ;
    background-color: #ffffff;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 60px;
}
.img-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    height:450px;
    border-radius: 7px;
}
.img-container img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity .3s ease;
}
.hover-image{
    opacity: 0;
}
.img-container:hover .hover-image{
    opacity: 1;
}
.img-container:hover .default-image{
    opacity: 0;
}
h1{
    font-size: 22px;
    margin-top: 40px;
    margin-right: 15%;
    direction: rtl;
    text-align: right;
}
section div p{
    font-size: 18px;
    margin-top: 10px;
    margin-right: 15%;
    direction: rtl;
    text-align: right;
}
footer{
    width: 100%;
    height: 410px;
    display: grid;
    grid-template-columns: repeat(3,30%);
    justify-content: space-evenly;
    background-color: rgba(214, 215, 216, 0.9);
    margin-top: 150px;
}
.by{
    margin-left: 11px;
    direction: rtl;
    text-align: right;
}
.about{
    margin-left: 11px;
    direction: rtl;
    text-align: right;
}
.contant{
    margin-left: 11px;
    direction: rtl;
    text-align: right;
}
h2{
    margin-right:48%;
    margin-top: 10%;
}

.by-links{
    padding-top: 20px;
    padding-right: 50px;
}
.by-links span{
    display: block;
    font-size: x-large;
    margin-right:20%;

}
.by-links{
    word-spacing: 5px;
    line-height:1.9;
    letter-spacing: 1.5px;
}

.by-links a:hover{
    /* background-color: #afafaf; */
    border-radius: 5px;
    text-decoration: underline;
}
.about p{
    margin-top: 25px;
    margin-right: 20%;
    font-size: 25px;
    line-height: 38px;
    word-spacing: 2px;
}
.contant-links{
    padding: 25px;
}
.contant-links span{
    display: block;
    font-size: x-large;
    margin-right:20%;

}
.contant-links{
    word-spacing: 5px;
    line-height:1.9;
    letter-spacing: 1.5px;
}
.contant-link-a{
    margin-right: 50px;
}
.contant-links a:hover{
    /* background-color: #afafaf; */
    border-radius: 5px;
    text-decoration: underline;
}
.contant p{
    font-size: x-large;
    margin-right:20%;
    word-spacing: 5px;   
}
